<div class="mypage">
  <p><%= current_user.user_name %>さんの情報</p>
  ユーザーネーム<p><%= current_user.user_name %></p>
  編集する
  メールアドレス<p><%= current_user.email %></p>
  編集する
  投稿したポストの一覧
  コメントした投稿の一覧

</div>