* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 70px;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  background-color: rgba(132, 216, 255, 0.825);
  width: 40%;
}

.GPlogo-icon {
  width: 50%;
  margin: auto;
  display: block;
}

.nav {
  font-size: 18px;
  width: 60%;
  background-color: rgba(132, 216, 255, 0.825);
  padding-right: 10vw;
  padding-left: 20vw;
  justify-content: flex-end ; 
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}

.lists-right li {
  margin-left: auto;
  margin-right: 10%;
}

.user_name {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}



.new_post--blue {
  color: #fff;
  text-decoration: none;
  background-color: #007deb86;
  /* border-bottom: 5px solid #3651dac5; */
  padding: 5px 15px; 
}
/* .new_post--blue:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
} */
.new_post--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}