.intro {
  width: 100vw;
  height:600px;
  background-image: image-url('walking.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0vh 10vw;
}